<a href="https://colab.research.google.com/github/BBVA/mercury-reels/blob/master/notebooks/reels_event_optimization_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# REELS: Event optimizer

<img style="float: right;" src="https://raw.githubusercontent.com/BBVA/mercury-reels/master/notebooks/images/piece-puzzle.jpg">

## Prerequisite!!

<img style="float: left;" src="https://raw.githubusercontent.com/BBVA/mercury-reels/master/notebooks/images/reels_small.png"> You should complete the **reels_walkthrough** tutorial before starting with this one!

## Imports

We will use some standard packages in this notebook that we include here.

In [1]:
import random, time, io

import pandas as pd

from sklearn import metrics

Now, we import reels.

In [ ]:
try:
    import reels

except ModuleNotFoundError:
    !pip install mercury-reels

    import reels

Additionally, we can verify that we are using the right version. (This notebook requires at least a version 1.3.1.)

In [3]:
reels.__version__

'1.4.1'

## The problem Event Optimization solves!

Real datasets possibly have hundreds of millions of transactions, millions of clients and thousands of event codes. Reels usually works just fine in those conditions.

On top of that, there may be additional complications:

  - Sequences for each client are typically very long (over 100 events).
  - We want to predict a target that is extremely unbalanced, like in fraud applications where only 1 in 10,000 clients are targets.

Fitting the data will result in way too many sequences being seen just once in the dataset. That will result in extreme overfitting to the point that the model will be of very limited use when applied to unseen data. 

### What is the "magical solution" to that

In these conditions, we will typically fit the model with the `as_states` argument of `Targets.fit()` set to true. If, rather than having 30,000 event codes, we could 
"magically" select the 20 codes that are relevant to predicting the target and assign a dummy code to all the rest, we would benefit of both:

  - The sequences becoming much shorter (as states)
  - The sequences being much less unique
  
That produces a much smaller tree with many more visits per node that will generalize much better to unseen data.

### What is the "practical solution" to that

Needless to say, it is hard to "magically" find **the 20** codes. When we limit the discovery of codes by setting the `max_num_events` argument when constructing `Events` objects, we are only limiting the event to the most **frequently seen** in the dataset, **not necessarily relevant** to any prediction.

The good news is: we may find a set of 200 codes that includes 15 of them that works almost as well as the "perfect" fit.

And we can do that, if we are lucky, by calling an automatic search with default parameters. More likely, it will happen using the tools the **event optimizer** provides to better understand the problem and manually including and excluding sets of codes from the model.

### The quest for "The Dictionary"

Summarizing, we want to find a dictionary that maps thousands of codes in an **Events** object into tenths of relevant codes.

This notebook provides examples to understand how to discover and apply that dictionary.

## The dataset

This synthetic dataset is "loosely based" on a real BBVA web navigation dataset. The original dataset cannot be used in the tutorial for compliance and practical considerations.

This synthetic dataset is smaller, simpler and much less unbalanced than the original one. Therefore, it works much better "out of the box". Nonetheless, it does improve somewhat with event optimization and, because it is not so easy to auto detect the signal, provides a good basis to understand manual intervention on the optimization algorithm.

The following code defines the function `create_datasets()` that uses a Clips object to read the test sequences from it and modifies them at random.

In [4]:
#@title
def build_chunk(seq, cli, time_ori, max_delay):
	N = len(seq)

	emi    = ['click' for _ in range(N)]
	weight = [1 for _ in range(N)]
	client = [cli for _ in range(N)]
	times  = []
	ct = time_ori

	for _ in range(N):
		ct += random.random()*max_delay
		times.append(time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(ct)))

	return pd.DataFrame(list(zip(emi, seq, weight, client, times)), columns = ['emitter', 'description', 'weight', 'client', 'time'])


def modify_chunk(chunk, cli, reduce, mutate):
	N = chunk.shape[0]

	if N > 5:
		chunk = chunk.sample(frac = reduce, replace = False)
		N = chunk.shape[0]

	chunk.reset_index(drop = True, inplace = True)

	for _ in range(random.randrange(1, round(2 + mutate*N))):
		i = random.randrange(0, N)
		j = random.randrange(0, N)
		x = chunk.description.at[i] + 1
		chunk.description.at[i] = chunk.description.at[j]
		chunk.description.at[j] = x

	chunk.client = [cli for _ in range(N)]

	return chunk


def create_datasets(test = False, n_extra = 10, reduce = 0.95, mutate = 0.15):

	events  = reels.Events()
	clients = reels.Clients()
	clips   = reels.Clips(clients, events)

	chunks = []
	targs  = None

	time_ori  = time.mktime(time.strptime('2022-06-01 00:00:01', '%Y-%m-%d %H:%M:%S'))
	max_delay = 3600

	if test:
		i_base = 400
		i_top  = 500
	else:
		i_base = 0
		i_top  = 400

	for i_cli in range(i_base, i_top):
		seq = clips.test_sequence(i_cli, False)

		cli = 'n%04i%03i' % (i_cli, 0)

		chunk = build_chunk(seq, cli, time_ori, max_delay)
		chunks.append(chunk)

		for t in range(1, n_extra):
			cli	  = 'n%04i%03i' % (i_cli, t)
			chunk = modify_chunk(chunk, cli, reduce, mutate)
			chunks.append(chunk)

		seq = clips.test_sequence(i_cli, True)

		cli = 't%04i%03i' % (i_cli, 0)

		chunk = build_chunk(seq, cli, time_ori, max_delay)
		chunks.append(chunk)

		ct = time.mktime(time.strptime(chunk.time.iloc[-1], '%Y-%m-%d %H:%M:%S'))
		ct += random.random()*max_delay
		ct -= random.random()*max_delay

		chunk = pd.DataFrame([[cli, time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(ct))]], columns = ['client', 'time'])
		targs = chunk if targs is None else pd.concat([targs, chunk])

	return pd.concat(chunks), targs

## A simple analysis

We also copy from the **reels_walkthrough** tutorial the function `analyze()` that will serve to evaluate our model.

In [5]:
def analyze(targets, clips, targs):
    t_hashes = set([clients.hash_client_id(str(id)) for id in targs.client])    # This is the set of all the clients who are targets
    Y_obs = [int(hh in t_hashes) for hh in clips.clips_client_hashes()]         # This is the observed target/no_target for all the clients
    
    T = [t for t in targets.predict_clips(clips)]                               # These are the predicted times
    
    t_copy = T.copy()
    t_copy.sort()
    t_cut = t_copy[sum(Y_obs)]                                                  # t_cut is a cutting time that generates the same number of targets.
    
    Y_pred = [int(t <= t_cut) for t in T]                                       # This is the predicted target/no_target for all the clients
    
    x_tab = pd.crosstab(pd.array(Y_obs), 
                        pd.array(Y_pred), 
                        rownames = ['Obs'], 
                        colnames = ['Pred'])
    
    acc  = metrics.accuracy_score(Y_obs, Y_pred)                                # We compute basic metrics
    prec = metrics.precision_score(Y_obs, Y_pred)
    f1   = metrics.f1_score(Y_obs, Y_pred)

    print(x_tab)
    print('Accuracy: %.3f, precision: %.3f, f1-score: %.3f' % (acc, prec, f1))

We create the datasets.

In [6]:
train, train_targs = create_datasets(False)
test,  test_targs  = create_datasets(True)

In [7]:
train

   emitter  description  weight    client                 time
0    click            1       1  n0000000  2022-06-01 00:47:20
1    click           17       1  n0000000  2022-06-01 01:32:35
2    click           92       1  n0000000  2022-06-01 01:44:45
3    click          227       1  n0000000  2022-06-01 02:33:53
4    click          864       1  n0000000  2022-06-01 02:51:40
..     ...          ...     ...       ...                  ...
14   click          459       1  t0399000  2022-06-01 07:57:01
15   click          459       1  t0399000  2022-06-01 07:57:36
16   click          459       1  t0399000  2022-06-01 08:41:41
17   click          459       1  t0399000  2022-06-01 08:54:24
18   click          462       1  t0399000  2022-06-01 09:28:28

[139783 rows x 5 columns]

In [8]:
train_targs

      client                 time
0   t0000000  2022-06-01 14:04:54
0   t0001000  2022-06-02 01:13:12
0   t0002000  2022-06-01 05:26:27
0   t0003000  2022-06-01 14:40:35
0   t0004000  2022-06-01 06:13:11
..       ...                  ...
0   t0395000  2022-06-01 09:04:49
0   t0396000  2022-06-02 12:09:50
0   t0397000  2022-06-01 03:48:45
0   t0398000  2022-06-02 05:33:40
0   t0399000  2022-06-01 09:53:48

[400 rows x 2 columns]

And now, we do a very simple cross-validated fit/predict like we learned in the **reels_walkthrough** tutorial.

In [9]:
intake_train       = reels.Intake(train)
intake_train_targs = reels.Intake(train_targs)
intake_test        = reels.Intake(test)
intake_test_targs  = reels.Intake(test_targs)

</br>

In [10]:
events = reels.Events(max_num_events = 10000)

intake_train.insert_rows(events)
intake_test.insert_rows(events)

events

reels.Events object with 1989 events

</br>

In [11]:
clients = reels.Clients()

clients

Empty reels.Clients object (Empty objects select ALL clients.)

</br>

In [12]:
train_clips = reels.Clips(clients, events)
intake_train.scan_events(train_clips)

train_clips

reels.Clips object with 4130 clips totalling 138702 events

</br>

In [13]:
targets = reels.Targets(train_clips)
intake_train_targs.insert_targets(targets)
targets.fit(agg = 'longest', depth = 100, as_states = True)

targets

reels.Targets object with 4130 clips

Has 400 targets.

Is fitted with 4127 clips.

We evaluate the prediction over the **training set**.

In [14]:
analyze(targets, train_clips, train_targs)

Pred     0    1
Obs
0     3566  164
1      163  237
Accuracy: 0.921, precision: 0.591, f1-score: 0.592

</br>

In [15]:
test_clips = reels.Clips(clients, events)
intake_test.scan_events(test_clips)

test_clips

reels.Clips object with 1037 clips totalling 30816 events

And evaluate the prediction over the **test set**.

In [16]:
analyze(targets, test_clips, test_targs)

Pred    0   1
Obs
0     849  88
1      81  19
Accuracy: 0.837, precision: 0.178, f1-score: 0.184

## Event Optimization

So far, we have trained a rather good model that performs worse on test data, just as expected.

We can also check some statistics about the nodes of the fitted tree.

In [17]:
print(targets.describe_tree())

tree.size() : 95523

num_of_nodes_with_zero_visits : 0
num_of_no_targets_one_visit   : 80135
num_of_has_target_one_visit   : 10024
num_of_no_targets_more_visits : 4931
num_of_has_target_more_visits : 433
num_of_no_targets_final_node  : 3693
num_of_has_target_final_node  : 364

As we would expect, it has many nodes with only one visit and is unbalanced, but not too much 8:1.

In case the original data provides some business insight to us, since we assume the codes are just meaningless numbers,
we are going to build a simple dictionary mapping the content to the code. In this case, we map the field `description` (that in our example contains just numbers, but could have been descriptive.)

Later we will add a column to our code exploration dataset using this.

This can be done by just iterating through the object via `describe_events()`.

In [18]:
description = {}
for emitter, descr, weight, code in events.describe_events():
    description[code] = descr

Now, we make a copy of the events dataset and optimize the copy, since the optimization will alter the object and we are just running it to get some data.

In [19]:
events_copy = events.copy()

Now we run the `optimize_events()` method, just for one iteration and removing exponential decay and the confidence interval.

The **exponential decay** is a parameter that allows weighting the score of a code less as it is found deeper in the tree.

The **confidence interval** is computed exactly like in `Targets().fit()` and allows computing lift based on the lower bound of a binomial confidence interval for a proportion rather than the proportion itself.

In [20]:
success, dictionary, top_codes, log = events_copy.optimize_events(train_clips, targets, num_steps = 1, exp_decay = 0, lower_bound_p = 0)

It returns a tuple of 4 elements:

 1. the dictionary that we are not going to use yet, 
 2. a boolean that is true on success,

In [21]:
assert success

 3. a log saved as a string giving us some idea about how the search went,

In [22]:
print(log)

Preprocessing:

  1855 codes found in clips.
  134 codes removed from internal EventMap.
  Current score = 0.882513

Step 1 of 1

  Trying:
    Code 1376 as 2
    Code 1753 as 3
    Code 1132 as 4
    Code 1474 as 5
    Code 1140 as 6
    ---------------
    Score = 0.077619
    Best score so far.

== F I N A L ==

  Final score      = 0.077619

 4. and a dataframe with the performance of each code as a string `top_codes`.
    
We convert it into a pandas dataframe by passing the string to `pd.read_csv()` using an `io.StringIO` and sort it by the column `n_incl_target`.

In [23]:
top = pd.read_csv(io.StringIO(top_codes), sep = '\t')
top['description'] = [description[c] for c in top.code]
top.sort_values(by = 'n_incl_target', ascending = False, inplace = True)
top.reset_index(drop = True, inplace = True)

top

,n_succ_seen,n_succ_target,n_incl_seen,n_incl_target,sum_dep,n_dep,edf,prop_succ,prop_incl,lift,score,code,description
0,22324,2601,15573,2030,585434,13320,1.0,0.116511,0.130354,0.750853,0.097877,1,1
1,14375,1779,6819,1012,268917,5893,1.0,0.123757,0.148409,0.788094,0.116960,2,17
2,11567,1371,4774,660,130111,3764,1.0,0.118527,0.138249,0.773063,0.106875,20,349
3,16806,1447,8877,552,351936,7639,1.0,0.086100,0.062183,0.543613,0.033804,10,2
4,8782,1082,1935,310,85305,1801,1.0,0.123207,0.160207,0.833044,0.133459,319,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1850,6,0,6,0,1089,6,1.0,0.000000,0.000000,0.000000,0.000000,1222,1931
1851,859,105,52,0,863,47,1.0,0.122235,0.000000,0.000000,0.000000,463,70
1852,2,0,2,0,1095,2,1.0,0.000000,0.000000,0.000000,0.000000,1224,2641
1853,9,0,9,0,2093,9,1.0,0.000000,0.000000,0.000000,0.000000,1225,758
1854,626,86,19,0,803,15,1.0,0.137380,0.000000,0.000000,0.000000,928,2691

NOTE: We have added the field `description` from the original dataset in case it is more informative than the field code.

The first four columns are the number of times seen vs target for both the node with the code (called "incl" for included) and for the parent node. The parent node is called "succ" (successor) because the tree is built in reverse time order. Therefore, the successor in the time sequence is the parent in the tree.

The next two, `sum_dep` and `n_dep` provide an idea of how deep the code is found on average (== sum_dep/n_dep) in the sequence and can be used in the score when exponential decay is not zero.

The next is `edf` (exponential decay factor) and multiplies the final score. E.g. If we set `exp_decay` to 0.00693 it decays to approx 0.5 in 100 steps because (1- 0.00693)^100 is 0.4988.

The next two are the proportion (or lower bound for the confidence interval) of target/seen for both "incl" and "succ" as explained above.

The lift is the quotient of the two and can be log transformed depending on the argument `log_lift`.

And the final score is the product `edf*prop_incl*lift`.

This score is used by a greedy algorithm to select the codes that are considered for inclusion in decreasing score order.

### Including/excluding codes

We can use this dataset to manually include and exclude. Let's suppose we want all the codes with more than 100 targets included so that we don't risk leaving them out.
We may also want to exclude every code that has never been part of a target.

In [24]:
include = ','.join([str(x) for x in top.loc[top['n_incl_target'] > 100, 'code']])

In [25]:
exclude = ','.join([str(x) for x in top.loc[top['n_incl_target'] < 1, 'code']])

<div class="alert alert-block alert-warning">
<b>Important:</b> Make sure you only pass comma separated strings of integers to the arguments <b>force_include</b> and <b>force_exclude</b>. A wrong type may crash your program.

Again, we make a copy and work with the copy since we don't want to modify `events` and the previous `events_copy` has been modified.

In [26]:
events_copy = events.copy()

And we call `optimize_events()` again. This time with the included and excluded codes, 20 steps and trying to introduce 4 codes at each step. We leave the default arguments but set threshold to zero to accept any new code that results in improvement no matter how small.

In [27]:
success, dictionary, top_codes, log = events_copy.optimize_events(train_clips, targets, num_steps = 20, codes_per_step = 4, 
                                                                  force_include = include, force_exclude = exclude, threshold = 0, lower_bound_p = 0)

In [28]:
assert success

In [29]:
print(log)

Preprocessing:

  1855 codes found in clips.
  134 codes removed from internal EventMap.
  Current score = 0.882513

Step 1 of 20

  Trying:
    Code 1753 as 32
    Code 1132 as 33
    Code 1376 as 34
    Code 1474 as 35
    ---------------
    Score = 0.762457
    Best score so far.

Step 2 of 20

  Trying:
    Code 967 as 36
    Code 1140 as 37
    Code 1410 as 38
    Code 1787 as 39
    ---------------
    Score = 0.772460
    Best score so far.

Step 3 of 20

  Trying:
    Code 746 was excluded by the caller
    Code 1385 as 40
    Code 436 was excluded by the caller
    Code 1650 as 41
    Code 1089 as 42
    Code 1413 as 43
    ---------------
    Score = 0.774963
    Best score so far.

Step 4 of 20

  Trying:
    Code 1598 as 44
    Code 268 was excluded by the caller
    Code 637 was excluded by the caller
    Code 1355 as 45
    Code 753 as 46
    Code 1297 as 47
    ---------------
    Score = 0.779965
    Best score so far.

Step 5 of 20

  Trying:
    Code 369 was excluded by the caller
    Code 1375 as 48
    Code 1131 as 49
    Code 368 was excluded by the caller
    Code 1704 as 50
    Code 1088 as 51
    ---------------
    Score = 0.782467
    Best score so far.

Step 6 of 20

  Trying:
    Code 1646 as 52
    Code 1374 as 53
    Code 1597 as 54
    Code 1608 as 55
    ---------------
    Score = 0.787470
    Best score so far.

Step 7 of 20

  Trying:
    Code 1703 as 56
    Code 1596 as 57
    Code 754 was excluded by the caller
    Code 1599 as 58
    Code 1607 as 59
    ---------------
    Score = 0.787470
    Best score so far.

Step 8 of 20

  Trying:
    Code 1715 as 60
    Code 910 as 61
    Code 1171 as 62
    Code 434 was excluded by the caller
    Code 366 was excluded by the caller
    Code 1003 as 63
    ---------------
    Score = 0.787470
    Best score so far.

Step 9 of 20

  Trying:
    Code 1606 as 64
    Code 909 as 65
    Code 1153 as 66
    Code 1693 as 67
    ---------------
    Score = 0.789973
    Best score so far.

Step 10 of 20

  Trying:
    Code 1731 as 68
    Code 874 as 69
    Code 365 as 70
    Code 1085 as 71
    ---------------
    Score = 0.789974
    Best score so far.

Step 11 of 20

  Trying:
    Code 1605 as 72
    Code 1052 as 73
    Code 908 as 74
    Code 433 as 75
    ---------------
    Score = 0.792476
    Best score so far.

Step 12 of 20

  Trying:
    Code 367 as 76
    Code 1507 as 77
    Code 1165 as 78
    Code 1155 as 79
    ---------------
    Score = 0.794969
    Best score so far.

Step 13 of 20

  Trying:
    Code 1087 as 80
    Code 363 as 81
    Code 1084 as 82
    Code 544 was excluded by the caller
    Code 1086 as 83
    ---------------
    Score = 0.794969
    Best score so far.

Step 14 of 20

  Trying:
    Code 1128 as 84
    Code 872 as 85
    Code 1164 as 86
    Code 1678 as 87
    ---------------
    Score = 0.794969
    Threshold (0.000000) not met (diff = -0.000000)

Step 15 of 20

  Trying:
    Code 1050 as 88
    Code 310 was excluded by the caller
    Code 1619 as 89
    Code 1855 as 90
    Code 902 as 91
    ---------------
    Score = 0.794968
    Threshold (0.000000) not met (diff = -0.000001)

Step 16 of 20

  Trying:
    Code 516 was excluded by the caller
    Code 948 as 92
    Code 362 as 93
    Code 1752 as 94
    Code 1296 as 95
    ---------------
    Score = 0.792477
    Threshold (0.000000) not met (diff = -0.002493)

Step 17 of 20

  Trying:
    Code 364 was excluded by the caller
    Code 1618 as 96
    Code 1170 as 97
    Code 1786 as 98
    Code 515 was excluded by the caller
    Code 1295 as 99
    ---------------
    Score = 0.794969
    Best score so far.

Step 18 of 20

  Trying:
    Code 1049 as 100
    Code 901 as 101
    Code 1760 as 102
    Code 1506 as 103
    ---------------
    Score = 0.794969
    Best score so far.

Step 19 of 20

  Trying:
    Code 491 as 104
    Code 766 as 105
    Code 1505 as 106
    Code 1504 as 107
    ---------------
    Score = 0.794969
    Best score so far.

Step 20 of 20

  Trying:
    Code 1152 as 108
    Code 1702 as 109
    Code 1470 as 110
    Code 1083 as 111
    ---------------
    Score = 0.794969
    Best score so far.

== F I N A L ==

  Final score      = 0.794969

### How to apply the dictionary

For the sake of this tutorial, we have obtained a dictionary that provides improvement. Of course, in a real case we can iterate and try different things combining the business insight provided by the description with the empirical data from the tree until we get our best results.

At the moment, `events_copy` is already optimized and could be used. 

An alternative method is creating one by copying the original `events` and providing the dictionary to the `copy()` method.

In [30]:
op_events = events.copy(dictionary)

And we use this `op_events` to create new clips and fit a new model.

In [31]:
train_clips = reels.Clips(clients, op_events)
intake_train.scan_events(train_clips)

train_clips

reels.Clips object with 4130 clips totalling 138702 events

</br>

In [32]:
targets = reels.Targets(train_clips)
intake_train_targs.insert_targets(targets)
targets.fit(agg = 'longest', depth = 100, as_states = True)

targets

reels.Targets object with 4130 clips

Has 400 targets.

Is fitted with 4127 clips.

We can also check that the new tree has less nodes overall and many less with one visit.

In [33]:
print(targets.describe_tree())

tree.size() : 58477

num_of_nodes_with_zero_visits : 0
num_of_no_targets_one_visit   : 46147
num_of_has_target_one_visit   : 7027
num_of_no_targets_more_visits : 4702
num_of_has_target_more_visits : 601
num_of_no_targets_final_node  : 2916
num_of_has_target_final_node  : 325

</br>

In [34]:
analyze(targets, train_clips, train_targs)

Pred     0    1
Obs
0     3497  233
1      228  172
Accuracy: 0.888, precision: 0.425, f1-score: 0.427

</br>

In [35]:
test_clips = reels.Clips(clients, op_events)
intake_test.scan_events(test_clips)
test_clips

reels.Clips object with 1037 clips totalling 30276 events

<br/>

In [36]:
analyze(targets, test_clips, test_targs)

Pred    0   1
Obs
0     858  79
1      77  23
Accuracy: 0.850, precision: 0.225, f1-score: 0.228

<div class="alert alert-block alert-success">
<b>Note that:</b> The optimized model is smaller, builds a smaller tree and generalizes better on unseen data.
</div>